.custom-combobox {
    position: relative;
    display: inline-block;
    padding-right: 35px;     
}

.custom-combobox-toggle { /*кновка выпадающего списка*/
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;  

}

.custom-combobox-input { /*поле ввода выпадающего списока*/
    position: relative;
    color: dimgray;
    padding: 6px;
    min-width: 350px;
    font-size: 10pt; /*шрифт*/
}

.ui-autocomplete {/*полоcа прокрута для выпадающего списка*/
    max-height: 200px;
    overflow-y: auto;  
}
