@model Наряд.Models.Сортименти

@{
    Layout = null;
}

<div style="text-align: center"><h3>Видалити</h3></div>

@using (Html.BeginForm("Delete", "EditingTheDatabaseСортименти", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.СортиментиID)
    <div class="form-group">        
        <label>@Html.LabelFor(a => a.Назва_сортименту, new { @class = "control-label" }):</label>
        <label>@Model.Назва_сортименту</label>
    </div>
    <div>
        <input class="btn btn-danger" type="submit" value="Видалити дані" />
    </div>
}