@{
    ViewBag.Title = "Index";
}

<div align="center">
    <div>
        <h3>Визначення об'єму круглих лісоматеріалів</h3>
    </div>
    <div class="navbar-form">
        <div class="form-group">
            <label>Довжина, м:</label>
            <select class="form-control" id="lengthOfTree"></select>
        </div>
        <div class="form-group">
            <label>Діаметр від, см:</label>
            <select class="form-control" id="diameterFrom"></select>
        </div>
        <div class="form-group">
            <label>Діаметр до, см:</label>
            <select class="form-control" id="diameterUpTo"></select>
        </div>
        <div class="form-group">
            <label>Шаг діаметрів, см:</label>
            <select class="form-control" id="diameter"></select>
        </div>
        <div class="form-group">
            <button class="btn btn-success" style="width:100px" title="Створити таблицю" id="addTableCubaturnic">
                <span class="glyphicon glyphicon-ok" />
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-hove" id="tableCubaturnic">
            <thead style="font-size: 10pt">
                <tr>
                    <th>Діаметр, см</th>
                    <th>Об'єм, м<sup>3</sup></th>
                    <th>Кількість, штук</th>
                    <th>Загальний об'єм, м<sup>3</sup></th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td>Разом</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div align="right">
        <button id="clearAmountTree" type="button" class="btn btn-danger">Очистити кількість лісоматеріалів</button>
    </div>
</div>

<style>
    #tableCubaturnic tfoot td {
        font-weight: bold;
    }
</style>

<script src="~/Scripts/myJScript/cubaturnic.js"></script> <!--библиотека кубатурник-->