<div role="tabpanel" class="tab-pane active" id="facialPage">
    <!--лицевая сторона наряд акта-->
    <div>
        <table align="center">
            <tr>
                <td> <h3>Наряд - акт на виконання робіт №</h3> </td>
                <td><input type="text" class="form-control" style="width: 50px; margin-top: 10px" /></td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table class="table-bordered container-fluid">
            <tr>
                <td>Дата</td>
                <td>Підприємство</td>
                <td>Ідентифікаційний код ЄДРПОУ</td>
                <td>Підрозділ</td>
                <td>Бригада</td>
                <td>Кількістьть осіб</td>
                <td>Прізвище та ініціали робітника</td>
                <td>Табельний номер</td>
                <td>Вид діяльності</td>
            </tr>
            <tr>
                <td> <input type="text" class="calendar" name="getDate" />  </td>
                <td>
                    <select id="company">
                        <option></option>
                    </select>
                </td>
                <td id="codeEDRPOY"></td>
                <td>
                    <select id="subdivision">
                        <option></option>
                    </select>
                </td>
                <td> <input type="text" /> </td>
                <td> <input type="text" /> </td>
                <td>
                    <select class="autocompleteCombobox employees">
                        <option></option>
                    </select>
                </td>
                <td id="timesheetNumber"></td>
                <td> <input type="text" /></td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table>
            <tr>
                <td style="text-align:right">Місце роботи Кв.</td>
                <td> <input type="text" /> </td>
                <td class="paddingLeft">Виділ</td>
                <td> <input type="text" /> </td>
                <td class="paddingLeft">Лісорубний квиток №</td>
                <td> <input type="text" /> </td>
                <td class="paddingLeft">Якого року лісосіка</td>
                <td> <select name="year" style="min-width:80px"> </select> </td>
                <td class="paddingLeft">Вид рубки</td>
                <td>
                    <select id="typeOfFelling">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Найменування заходу</td>
                <td> <select id="worksTitlee" style="min-width:100px"> </select> </td>
                <td class="paddingLeft">Початок роботи</td>
                <td> <input type="text" class="calendar" name="firstWorkingDay" />  </td>
                <td class="paddingLeft">Закінчення роботи</td>
                <td> <input type="text" class="calendar" name="lastWorkingDay" /> </td>
                <td class="paddingLeft">Щоденник приймання робіт №</td>
                <td> <input type="text" id="orderDate" /> </td>
                <td class="paddingLeft">Середній об'єм хлиста, м<sup>3</sup></td>
                <td> <input type="text" id="volumeWood" /> </td>
            </tr>
        </table>
        <div id="coefficient">
            <form class="navbar-form">  
                <label>Умови роботи:</label>
                <div id="conditionsLumbering" class="btn-group form-group" data-toggle="buttons">
                  
                    <label class="btn btn-primary active" id="workingConditionsSummer">
                        <input type="radio" checked> Літні
                    </label>
                    <label class="btn btn-primary" id="workingConditionsHard">
                        <input type="checkbox"> Тяжкі
                    </label>
                    <label class="btn btn-primary" id="workingConditionsWinter">
                        <input type="radio"> Зимові
                    </label>
                </div>
                <div id="tractorCoefficient" class="form-group">
                    <label>Сумарний переїзд трактора, км:</label>
                    <input type="text" id="tractorMoving" />
                    <label>Всього затрачено на переїзд трактора, годин:</label>
                    <input type="text" id="hoursUsed" />
                    <label>Наявність перешкод на ділянці, %:</label>
                    <input type="text" id="block" />
                </div>
                <div id="deforestationCoefficient" class="form-group">
                    <label>Коефіцієнт зменшення норм:</label>
                    <input type="text" id="reduceDeforestationCoefficient" />
                    <label> Згідно наказу №:</label>
                    <input type="text" />
                    <label>від:</label>
                    <input type="text" class="calendar" />
                </div>
                <div id="divForestPlantingConditions" class="form-group">                    
                    <select id="forestPlantingConditions">
                        <option></option>
                        <option>Рівнині_умови</option>
                        <option>Яружно_балкові_землі_схил_до_20град</option>
                        <option>Яружно_балкові_землі_схил_понад_20град</option>
                        <option>Гірські_умови_схил_до_20град</option>
                        <option>Гірські_умови_схил_понад_20град</option>                        
                    </select>               
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="details">
        <table class="table-bordered table-hover">
            <thead>
                <tr>
                    <td rowspan="2">Категорія робіт</td>
                    <td rowspan="2">Найменування робіт</td>
                    <td rowspan="2">Разряд&nbsp;робіт</td>
                    <td rowspan="2">Одиниця виміру</td>
                    <td colspan="2">Обсяг робіт </td>
                    <td rowspan="2">Норма виробітку</td>
                    <td rowspan="2">Виконанно норм</td>
                    <td rowspan="2">Розцінка за одиницю</td>
                    <td rowspan="2">Сума заробітку</td>
                    <td colspan="2">Відпрацьовано</td>
                    <td rowspan="2">Добавити строку</td>
                </tr>
                <tr>
                    <td>Задано</td>
                    <td>Виконано</td>
                    <td>Людино-дні</td>
                    <td>Машино-змін</td>
                </tr>
            </thead>
            <tbody id="tbodyTable">
                <!--тело таблицы-->
                <tr class="mycontainer" id="mainrow">
                    <td>
                        <!--выпадающий список категория работ-->
                        <select id="productCategory" style="min-width:250px">
                            <option></option>
                        </select>
                    </td>
                    <td>
                        <!--выпадающий список вид работ-->
                        <select id="product" class="autocompleteCombobox form-control quantity">
                            <option></option>
                        </select>
                    </td>
                    <td>
                        <!--выпадающий список разряд робот-->
                        <select id="Rank" disabled>
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                    <td> <input type="text" id="Unit" disabled /> </td>
                    <td> <input type="text" id="set" /> </td>
                    <td> <input type="text" id="executed" /> </td>
                    <td> <input type="text" id="norm" disabled /> </td>
                    <td> <input type="text" id="executedNorm" disabled /> </td>
                    <td> <input type="text" id="UnitPrice" disabled /> </td>
                    <td> <input type="text" id="Sum" disabled /> </td>
                    <td> <input type="text" /> </td>
                    <td> <input type="text" /> </td>
                    <td>
                        <button class="btn btn-success add">
                            <!--кнопка добавления строки-->
                            <span id="addIcon" class="glyphicon glyphicon-plus" />
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <!--нижняя строка с суммой-->
                <tr>
                    <td colspan="3">УСЬОГО</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <div align="center">
        <h4>Витрачено сировини, матеріалів та відходів виробництва</h4>
    </div>
    <div class="material">
        <table class="table-bordered table-hover container-fluid">
            <thead>
                <tr>
                    <td rowspan="2">Найменування сировини, матеріалів та на що витрачено</td>
                    <td rowspan="2">Одиниця виміру</td>
                    <td colspan="2">Кількість</td>
                    <td rowspan="2">Вартість</td>
                    <td rowspan="2">Найменування сировини, матеріалів та на що витрачено</td>
                    <td rowspan="2">Одиниця виміру</td>
                    <td colspan="2">Кількість</td>
                    <td rowspan="2">Вартість</td>
                </tr>
                <tr>
                    <td>по нормі</td>
                    <td>фактично</td>
                    <td>по нормі</td>
                    <td>фактично</td>
                </tr>
            </thead>
            <tbody />
        </table>
    </div>
    <br />
    <div>
        <form class="navbar-form" autocomplete="on">
            <div class="form-group">
                <label> Наряд видав:</label>
                <label></label>
                <select class="autocompleteCombobox employees">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label> До виконання прийняв:</label>
                <label></label>
                <select class="autocompleteCombobox employees">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label> Виконану роботу здав:</label>
                <label></label>
                <select class="autocompleteCombobox employees">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label> Оцінка якості виконаних робіт:</label>
                <select id="PerformanceEvaluation">
                    <option>Задовільно</option>
                    <option>Не задовільно</option>
                </select>
            </div>
            <div class="form-group">
                <label> Роботу прийняв:</label>
                <label></label>
                <select class="autocompleteCombobox employees">
                    <option></option>
                </select>
            </div>
        </form>
    </div>
    <div align="right">
        <button id="submit" class="btn btn-warning" style="width:100px">
            <span id="addIcon" class="glyphicon glyphicon-floppy-disk" />
        </button>
    </div><!--Кнопка сохранения-->
</div>

<script type="text/javascript">
    $("#PerformanceEvaluation").prop('selectedIndex', 0); //значение по умолчанию /оценка работы/


</script>


