<div id="printDivReverse">
    <br />
    <div>
        <text style="font-weight:bold">Табель на внутрішньо бригадний розрахунок зарплати</text>
        <table id="theadTablePrintReverse">
            <thead>
                <tr>
                    <td rowspan="3">Прізвище та ініціали робітника</td>
                    <td rowspan="3" class="verticalText">Табельний&nbsp;№</td>
                    <td rowspan="3" class="verticalText">Категорія</td>
                    <td rowspan="3" class="verticalText">Професія</td>
                    <td rowspan="3" class="verticalText">Тарифний розряд,&nbsp;коеф.</td>
                    <td colspan="16">Відпрацьовано годин по числам місяця</td>
                    <td colspan="2">Всього</td>
                    <td rowspan="3" class="verticalText">Тарифна&nbsp;ставка</td>
                    <td rowspan="3" class="verticalText">Сумма&nbsp;коеф.</td>
                    <td colspan="2">Виконанно норм</td>
                    <td rowspan="3">Всього належить&nbsp;нарахувати зарплати</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>&nbsp;</td>
                    <td rowspan="2">Днів</td>
                    <td rowspan="2">Годин</td>
                    <td rowspan="2">Кількість</td>
                    <td rowspan="2">%</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="5">УСЬОГО</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <div id="theadPrintReverse">
        <label>Кількість днів, розряд або коефіціент працівникам оголошені.Вартість коефіцієнту, грн:</label>
        <label></label>
        <label>Бригадир:</label>
        <label>_____________________</label>
        <label></label>
        <label>Відповідальний за введення табеля:</label>
        <label>_____________________</label>
        <label></label>
        <label>Розрахунок склав:</label>
        <label>_____________________</label>
        <label></label>
    </div>
    <div>
        <text style="font-weight:bold">Лісопродукція:</text>
        <table id="tbodyTablePrintReverse">
            <thead>
                <tr>
                    <td rowspan="2">Сортимент</td>
                    <td rowspan="2">Довжина</td>
                    <td colspan="2">Один. виміру</td>
                    <td rowspan="2">Кількість</td>
                    <td rowspan="2">Сортимент</td>
                    <td rowspan="2">Довжина</td>
                    <td colspan="2">Один. виміру</td>
                    <td rowspan="2">Кількість</td>
                </tr>
                <tr>
                    <td>штук</td>
                    <td>м<sup>3</sup></td>
                    <td>штук</td>
                    <td>м<sup>3</sup></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="tbodyTablePrintReverseLabel">
            <label>Загальна кількість, шт :</label>
            <label></label>
            <label>Загальний об'єм, м<sup>3</sup> :</label>
            <label></label>
        </div>
    </div>
    <div id="tfootPrintReverse">
        <label>Прийняв на відповідальне зберігання:</label>
        <label>_____________________</label>
        <label></label>
        <label>Дата:</label>
        <label></label>
        <label></label>
        <label>Затверджую:</label>
        <label>_____________________</label>
        <label></label>
    </div>
</div>
