<div id="print" align="center">
    <div>@Html.Partial("_printFacial")</div>    
    <div>@Html.Partial("_printReverse")</div>

    <style>
        #printDivFacial table:not(#theadPrint):not(#dressNumber), #printDivReverse table {
            border-collapse: collapse;
        }

            #printDivFacial table:not(#theadPrint):not(#dressNumber):not(#coefficientPrint) td, #printDivReverse table td {
                border: 1px solid black;
                text-align: center;
            }

        #coefficientPrint label {
            padding-left: 10px;   
        }

        #theadPrint td, #theadTablePrint td, #tbodyTablePrint td, #tfootTablePrint td, #tfootPrint label, #coefficientPrint label,
        #theadTablePrintReverse td, #theadPrintReverse label, #tbodyTablePrintReverse td, #tbodyTablePrintReverseLabel label, #tfootPrintReverse label {
            font-size: 10pt;
        }

        #printDivFacial, #printDivReverse { /*разрыв страницы(печать на отдельном листе)*/
            page-break-before: always;
        }
    </style>

    <script>
        $('#theadPrint td:odd, #theadPrint tr:last td:not(:first), #coefficientPrint td:not(:eq(0), :eq(1)) label:odd, #coefficientPrint td:eq(1), #coefficientPrint td:last').css('border-bottom', 'solid 1px black');
        $('#theadPrint td:not(:odd)').css({ 'text-align': 'center', 'padding-left': '10px' });
        $('#tfootPrint label:nth-child(3n+3)').css('text-decoration', 'underline');  
        $('#tfootPrint label:nth-child(3n+1)').css({ 'padding-left': '15px', 'padding-top': '10px' }); 

        $('#printDivReverse .verticalText').css({ 'max-width': '40px', 'transform': 'rotate(-90deg) translateX(-25px)', 'height': '95px' });       
    </script>
</div>




