<div id="printDivFacial">
    <table id="dressNumber">
        <tr>
            <td><h3>Наряд - акт на виконання робіт №</h3></td>
            <td><h3 id="dressNumberPrint"></h3></td>
        </tr>
    </table>
    <table id="theadTablePrint">
        <tr>
            <td>Дата</td>
            <td>Підприємство</td>
            <td>Ідентифікаційний код ЄДРПОУ</td>
            <td>Підрозділ</td>
            <td>Бригада</td>
            <td>Кількістьть осіб</td>
            <td>Прізвище та ініціали робітника</td>
            <td>Табельний номер</td>
            <td>Вид діяльності</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br />
    <table id="theadPrint">
        <tr>
            <td>Місце роботи Кв.:</td>
            <td></td>
            <td>Виділ:</td>
            <td></td>
            <td>Лісорубний квиток №:</td>
            <td></td>
            <td>Якого року лісосіка:</td>
            <td></td>
            <td>Вид рубки:</td>
            <td></td>
        </tr>
        <tr>
            <td> Найменування заходу:</td>
            <td></td>
            <td>Початок роботи:</td>
            <td></td>
            <td>Закінчення роботи:</td>
            <td></td>
            <td>Щоденник приймання робіт №:</td>
            <td></td>
            <td>Середній об'єм хлиста, м<sup>3</sup>:</td>
            <td></td>
        </tr>
        <tr>
            <td>Перевірено зауваження</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table id="coefficientPrint">
        <tr>
            <td>
                <label>Умови праці:</label>
            </td>
            <td>
                <label>Літні /</label>
                <label>Тяжкі /</label>
                <label>Зимові</label>
            </td>
            <td>
                <label>Переїзд трактора, км:</label>
                <label></label>
                <label>Витрачено на переїзд трактора, годин:</label>
                <label></label>
                <label>Наявність перешкод на ділянці, %:</label>
                <label></label>
            </td>
            <td>
                <label>Коефіцієнт зменшення норм:</label>
                <label></label>
                <label>Згідно наказу №:</label>
                <label></label>
                <label>від:</label>
                <label></label>
            </td>
            <td>
                <label></label>
            </td>
        </tr>
    </table>
    <br />
    <table id="tbodyTablePrint">
        <thead>
            <tr>
                <td rowspan="2" @*width="300px"*@>Найменування робіт</td>
                <td rowspan="2">Одиниця виміру</td>
                <td colspan="2">Обсяг робіт </td>
                <td rowspan="2">Норма виробітку</td>
                <td rowspan="2">Виконанно норм</td>
                <td rowspan="2">Розцінка за одиницю</td>
                <td rowspan="2">Сума заробітку</td>
                <td colspan="2">Відпрацьовано</td>
            </tr>
            <tr>
                <td>Задано</td>
                <td>Виконано</td>
                <td>Людино-дні</td>
                <td>Машино-змін</td>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>УСЬОГО</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <br />
    <text style="font-weight:bold">Витрачено сировини, матеріалів та відходів виробництва</text>
    <table id="tfootTablePrint">
        <thead>
            <tr>
                <td rowspan="2">Найменування сировини, матеріалів та на що витрачено</td>
                <td rowspan="2">Одиниця виміру</td>
                <td colspan="2">Кількість</td>
                <td rowspan="2">Вартість</td>
                <td rowspan="2">Найменування сировини, матеріалів та на що витрачено</td>
                <td rowspan="2">Одиниця виміру</td>
                <td colspan="2">Кількість</td>
                <td rowspan="2">Вартість</td>
            </tr>
            <tr>
                <td>по нормі</td>
                <td>фактично</td>
                <td>по нормі</td>
                <td>фактично</td>
            </tr>
        </thead>
        <tbody> </tbody>
    </table>
    <div id="tfootPrint">
        <label>Наряд видав:</label>
        <label>_____________________</label>
        <label></label>
        <label>До виконання прийняв:</label>
        <label>_____________________</label>
        <label></label>
        <label>Виконану роботу здав:</label>
        <label>_____________________</label>
        <label></label>
        <label>Оцінка якості виконаних робіт:</label>
        <label></label>
        <label></label>
        <label>Роботу прийняв:</label>
        <label>_____________________</label>
        <label></label>
    </div>
</div>
