<div role="tabpanel" class="tab-pane active" id="facialPage">
    <!--лицевая сторона наряд акта-->
    <div align="center">
        <h4>Табель на внутрішньо бригадний розрахунок зарплати</h4>
    </div>
    <div class="details">
        <table class="table-bordered table-hover employee">
            <thead style="font-size: 10pt">
                <tr>
                    <td rowspan="3">Прізвище та ініціали робітника</td>
                    <td rowspan="3" class="verticalText">Табельний&nbsp;№</td>
                    <td rowspan="3" class="verticalText">Категорія</td>
                    <td rowspan="3" class="verticalText">Професія</td>
                    <td rowspan="3" class="verticalText">Тарифний розряд,&nbsp;коеф.</td>
                    <td colspan="16">Відпрацьовано годин по числам місяця</td>
                    <td colspan="3">Годин</td>
                    <td rowspan="3" class="verticalText">Тарифна&nbsp;ставка</td>
                    <td rowspan="3" class="verticalText">Сумма&nbsp;коеф.</td>
                    <td colspan="2">Виконанно норм</td>
                    <td colspan="3">Належить нарахувати зарплати</td>
                    <td rowspan="3">Добавити строку</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>&nbsp;</td>
                    <td rowspan="3" class="verticalText">Всього</td>
                    <td colspan="2">в т. ч.</td>
                    <td rowspan="2" class="verticalText">Кількість</td>
                    <td rowspan="2">%  </td>
                    <td rowspan="2">&nbsp;</td>
                    <td rowspan="2">&nbsp;</td>
                    <td rowspan="2">Всього</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>відря-дно</td>
                    <td>пого-динно</td>
                </tr>
            </thead>
            <tbody class="tbodyTableRevers" id="tbodyTable1">
                <!--тело таблицы-->
                <tr class="mycontainerRevers" id="mainrow" align="center">
                    <td rowspan="2">
                        <!--выпадающий список категория работ-->
                        <select id="productCategory" class="autocompleteCombobox materials quantity">  
                            <option></option>
                        </select>
                    </td>
                    <td rowspan="2"> <input type="text" class="quantity" disabled /> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity" disabled /> </td>
                    <td id="1"> <input type="text" class="quantity"/> </td>
                    <td id="2"> <input type="text" class="quantity"/> </td>
                    <td id="3"> <input type="text" class="quantity"/> </td>
                    <td id="4"> <input type="text" class="quantity"/> </td>
                    <td id="5"> <input type="text" class="quantity"/> </td>
                    <td id="6"> <input type="text" class="quantity"/> </td>
                    <td id="7"> <input type="text" class="quantity"/> </td>
                    <td id="8"> <input type="text" class="quantity"/> </td>
                    <td id="9"> <input type="text" class="quantity"/> </td>
                    <td id="10"> <input type="text" class="quantity"/> </td>
                    <td id="11"> <input type="text" class="quantity"/> </td>
                    <td id="12"> <input type="text" class="quantity"/> </td>
                    <td id="13"> <input type="text" class="quantity"/> </td>
                    <td id="14"> <input type="text" class="quantity"/> </td>
                    <td id="15"> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" disabled/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2"> <input type="text" class="quantity"/> </td>
                    <td rowspan="2">
                        <button class="btn btn-success add">
                            <!--кнопка добавления строки-->
                            <span id="addIcon" class="glyphicon glyphicon-plus" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td id="16"> <input type="text" class="quantity"/> </td>
                    <td id="17"> <input type="text" class="quantity"/> </td>
                    <td id="18"> <input type="text" class="quantity"/> </td>
                    <td id="19"> <input type="text" class="quantity"/> </td>
                    <td id="20"> <input type="text" class="quantity"/> </td>
                    <td id="21"> <input type="text" class="quantity"/> </td>
                    <td id="22"> <input type="text" class="quantity"/> </td>
                    <td id="23"> <input type="text" class="quantity"/> </td>
                    <td id="24"> <input type="text" class="quantity"/> </td>
                    <td id="25"> <input type="text" class="quantity"/> </td>
                    <td id="26"> <input type="text" class="quantity"/> </td>
                    <td id="27"> <input type="text" class="quantity"/> </td>
                    <td id="28"> <input type="text" class="quantity"/> </td>
                    <td id="29"> <input type="text" class="quantity"/> </td>
                    <td id="30"> <input type="text" class="quantity"/> </td>
                    <td id="31"> <input type="text" class="quantity"/> </td>
                </tr>
            <tfoot>
                <!--нижняя строка с суммой-->
                <tr>
                    <td colspan="5">УСЬОГО</td>                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <div>
        <table>
            <tr>
                <td style="text-align:right">Вартість коефіцієнту, грн</td>
                <td> <input type="text" /> </td>
                <td class="paddingLeft">Бригадир</td>
                <td> <input type="text" /> </td>
                <td class="paddingLeft">Відповідальний за введення табеля</td>
                <td> <input type="text" id="orderDate" />  </td>
                <td class="paddingLeft">Розрахунок склав</td>
                <td> <input type="text" id="orderDate" />  </td>
            </tr>
        </table>
    </div>
    <br />
    <div align="left">
        <h4 style="padding-left:150px">Лісопродукцію:</h4>
    </div>
    <div class="details">
        <table class="table-bordered table-hover">
            <thead>
                <tr>
                    <td rowspan="2">Найменування</td>
                    <td rowspan="2">Порода</td>
                    <td rowspan="2">Сортимент</td>
                    <td rowspan="2">Сорт</td>
                    <td rowspan="2">Довжина</td>
                    <td rowspan="2">Діаметр</td>
                    <td colspan="2">Один. виміру</td>
                    <td rowspan="2">Кількість</td>
                    <td rowspan="2">Добавити строку</td>
                </tr>
                <tr>
                    <td>штук</td>
                    <td>м<sup>3</sup></td>                    
                </tr>
            </thead>
            <tbody class="tbodyTable">
                <!--тело таблицы-->
                <tr class="mycontainer" id="mainrow" align="center">
                    <td>
                        <!--выпадающий список материалы, сырье-->
                        <select class="pc autocompleteCombobox materials">
                            <option></option>
                        </select>
                    </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>                    
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td> <input type="text" class="quantity"/> </td>
                    <td>
                        <button class="btn btn-success add">
                            <span id="addIcon" class="glyphicon glyphicon-plus" />
                        </button> <!--кнопка добавления строки-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div>
        <div>
            <table>
                <tr>
                    <td style="text-align:right">Прийняв на відповідальне зберігання</td>
                    <td> <input type="text" /> </td>
                    <td class="paddingLeft">Дата</td>
                    <td> <input type="text" class="calendar" name="getDate"/>  </td>
                    <td class="paddingLeft">Затверджую</td>
                    <td> <input type="text" /> </td>
                </tr>
            </table>
        </div>        
    </div>   
</div>

<script type="text/javascript">

    $('.tbodyTableRevers td').each(function () {
        $this = this;
        if ($($this).attr('rowspan')) {
            $('input', $this).css({ 'border': 'none', 'height': '68px' });
        }
        else {
            $('input', $this).css({ 'border': 'none', 'height': '34px' });
        }

        if ($('input', $this).attr('disabled')) {
            $($this).css('background-color', 'lavender');
        }
    });

    $('.verticalText').css({ 'max-width': '20px', 'transform': 'rotate(-90deg) translateX(-7px)' });
    $('.employee tr:first td').filter('.verticalText').css({ 'transform': 'rotate(-90deg) translateX(-2em)', 'line-height': '1em' });
    $('.employee thead tr').not(':first').css('height', '35px');
    
</script>


