<div>
    <div align="center">
        <h4>Редагування бази даних</h4>
    </div>
    <div>
        <table class="table-bordered table-hover" id="employeesDataTable"> 
            <thead>
                <tr>
                    <td>П.І.Б.</td>
                    <td>Посада</td>
                    <td>Тарифний розряд</td>
                    <td>Категорія</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

