@{
    ViewBag.Title = "Index"; //имя вкладки, отображается в закладках
}

<div class="container">   
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#facial" role="tab" data-toggle="tab">Лицьова сторона</a> </li>
        <li class="active"><a href="#reverse" role="tab" data-toggle="tab">Зворотня сторона</a> </li>
        <li><a href="#database" role="tab" data-toggle="tab">База данних</a> </li>
    </ul>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="facial"> @Html.Partial("_facialPage") </div>
    <div role="tabpanel" class="tab-pane active" id="reverse"> @Html.Partial("_reversePage") </div>
    <div role="tabpanel" class="tab-pane" id="database">База данних</div>
</div>


<link rel="stylesheet" href="~/Content/bootstrap.min.css" /> <!--библиотека bootstrap-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" /> <!--Стиль-->
<link href="~/Content/ComboBox.Autocomplete.css" rel="stylesheet" /><!--файл с стилем autocomplete.combobox-->
<!--Библиотеки подключать после кода окна, чтоб быстрее загружалась страница-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script> <!--Подключаем библиотеку JQuery-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!--Подключаем библиотеку JQuery UI-->

<script src="~/Scripts/myJScript/addData.copyString.saveData.js"></script><!--Файл JS в котором будит обработчик нажатия кнопок-->
<script src="~/Scripts/myJScript/autocomplete.combobox.js"></script> <!--файл с кодом autocomplete.combobox-->
<script src="~/Scripts/myJScript/datepicker.languageUK.js"></script> <!--файл с кодом Украинского языка календаря и робота с датами-->
<script src="~/Scripts/myJScript/myJScript.js"></script>

<script type="text/javascript">   
     
    $(function () {
        $("input[type='text'], select").addClass("form-control");
    });

    $(function () {
        $("thead td").addClass("td1");/*клас отображает содержимое ячеек заголовка по центру (вертикаль)*/
    });
        
</script>

<style type="text/css">
    .table .td1 { /*Отображать содержимое ячеек заголовка по центру*/
        vertical-align: middle; /*вертикаль*/
        width: 50%;
    }

    td { /*Отображать содержимое ячеек заголовка по центру*/
        text-align: center; /*горизонталь*/
    }

    input.form-control { /*выравнивать текст в полях ввода по центу с отступом 0*/
        padding: 0px; /*внутрений отступ*/
        text-align: center;
        outline: none;
    }

    #paddingLeft {
        padding-left: 13px;
        text-align: right;
        padding-right: 5px;
    }

    .add {
        width:60px;
    }

</style>

