@{
    ViewBag.Title = "Привітання";
}

<h2>Вітаємо</h2>
<hr />
<div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <p style="font-size: 17px">
            Ласкаво просимо на Turn - сайт для робітників лісової галузі! <br />
            Turn - дякує Вам за реєстрацію!<br />
            Ми раді, що Ви приєднались до нас. Сподіваємось, що Вам у нас сподобається і ми будумо Вам корисні.<br />
                                                                                                               <br />
            З найкращими побажанями,<br />
            Turn - ваш помічник
        </p>
    </div>
    <br />
    <div>
        <p>
            Пістя переходу на головну сторінку увійдіть на сайт під своїм логіном. <br />
            @Html.ActionLink("На головну сторінку", "Index", "Main")
        </p>
    </div>
</div>

